.carousel {
	// min-height: 690px;
	padding: 80px 0 80px;

	.swiper {
		&-wrapper {
			align-items: center;
		}

		&-slide {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&-button-next,
		&-button-prev {
			color: $btn_color;
			font-weight: bold;

			&::after {
				padding: 4px;
			}
		}

		&-button-prev {
			left: 5px;
		}

		&-button-next {
			right: 5px;
		}

		&-pagination {
			display: none;
		}
	}
}
